@import './Variables.scss';

body {
  margin: 0;
  background-color: $main-color;
}

* {
  box-sizing: border-box;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 55px;
}

.card {
  border: 0.5px outset card-color;
  color: white;
  font-weight: bold;
}

.card-body {
  text-align: center;
  width: 450px;
  padding: 60px;
  background-color: white;
  background-image: linear-gradient(#36a5d1 40%, white);

}
.card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0px solid rgba(0,0,0,.125);
  background-color: #36a5d1;
}
.card-text{
  padding: 15px;
}

.btn-perso {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #1694c5;
}
.cimg {
  align-items: center;
  border-radius: 50%;
  border: 2px solid #005db9;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.cimg img {
  width: 80%;
}

.btn-cont {
  background-color: #0088cc;
  color: #fff;
}

.card-footer {
  background-color: white;
  border-top: 0px solid rgba(0,0,0,.125);
  color: black;
}

.foo {
  text-align: right;
  font-size: 10px;
}

.foo p {
  margin-bottom: 0px;
  margin-right: 5px;
}
