body {
  background-color: #F5F5F5;
}

.header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}

.header__img {
  margin-left: 30px;
  width: 120px;
}

.header__img:hover {
  -webkit-transform:scale(0.8);
  transform:scale(1.3);
}

.header__menu {
	margin-right: 30px;
}

.header__menu ul {
  display: none;
  list-style: none;
  margin: 0px 0px 0px -14px;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
}

.header__menu:hover ul, ul:hover {
	display: block;
}

.header__menu li {
  margin: 10px 0px;
}

.header__menu li a {
  color: white;
  text-decoration: none;
}

.header__menu li a:hover {
  text-decoration: underline;
}

.header__menu--profile {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.header__menu--profile img {
  margin-right: 8px;
  width: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 55px;
  padding-bottom: 55px;
}

.card {
  border: 0.5px outset rgb(204, 204, 204);
  color: white;
  font-weight: bold;
}

.card-body {
  text-align: center;
  width: 450px;
  padding: 60px;
  background-color: white;
  background-image: linear-gradient(#36a5d1 40%, white);

}
.card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0px solid rgba(0,0,0,.125);
  background-color: #36a5d1;
}
.card-text{
  padding: 15px;
}

.btn-perso {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #1694c5;
}
.cimg {
  align-items: center;
  border-radius: 50%;
  border: 2px solid #005db9;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.cimg img {
  width: 80%;
}

.btn-cont {
  background-color: #0088cc;
  color: #fff;
}

.card-footer {
  background-color: white;
  border-top: 0px solid rgba(0,0,0,.125);
}

.foo {
  text-align: right;
  font-size: 10px;
}

.foo p {
  margin-bottom: 0px;
  margin-right: 5px;
}

.footer {
  align-items: center;
  background-color: black;
  display: flex;
  height: 80px;
  width: 100%;
}

.footer a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
