body {
  background-color: #F5F5F5;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 55px;
}

.card {
  border: 0.5px outset rgb(204, 204, 204);
}

.card-body {
  text-align: center;
  width: 450px;
  padding: 60px;
  background-color: #f5f5f5;
}
.card-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0px solid rgba(0,0,0,.125);
  background-color: #d1d1d1;
}
.card-text{
  padding: 15px
}

.btn-perso {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: rgb(192, 192, 192);
}
.cimg {
  align-items: center;
  border-radius: 50%;
  border: 2px solid #005db9;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.cimg img {
  width: 80%;
}

.btn-cont {
  background-color: #0088cc;
  color: #fff;
}

.card-footer {
  background-color: #f5f5f5;
  border-top: 0px solid rgba(0,0,0,.125);
}

.foo {
  text-align: right;
  font-size: 10px;
}

.foo p {
  margin-bottom: 0px;
  margin-right: 5px;
}